 

/* ########################## Cards*/
   
    .card {
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 280px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card i {
      font-size: 1.8rem;
      color: #dc12ee;
      background-color: #e6f0ff;
      padding: 0.8rem;
      border-radius: 50%;
    }
    .card-content h4 {
      margin: 0 0 0.3rem 0;
      font-size: 1.1rem;
      color: #333;
      text-align: center;
    }

    .card-content p {
      margin: 0;
      font-size: 0.95rem;
      color: #666;
      word-break: break-word;
    }
 
 .card:hover i {
  background-color: rgba(255, 255, 255, 0.2);
}

/*######################### end Cards*/



    .packages-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-width: 1200px;
      gap: 25px;
      margin: auto;
      padding: 0 20px 50px;
    }

    .package-card {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 25px;
      transition: transform 0.3s;
    }

    .package-card:hover {
      transform: translateY(-5px);
      background-color: #dc12ee;
    }
    .package-card:hover .package-title{
        color: white;
    }
.package-card:hover li::before{
    color: rgb(255, 255, 255);
}
    .package-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      color: #dc12ee;
      text-align: center;
    }

    .feature-list {
      list-style: none;
      padding: 0;
      margin: 0 0 20px;
    }

    .feature-list li {
      padding: 8px 0;
      border-bottom: 1px solid #eee;
    }

    .feature-list li::before {
      content: "✔";
      color: #dc12ee;
      margin-left: 8px;
    }

    .package-footer {
      text-align: center;
    }
